<h1>
  Actor #<%=@actor.id%> details
</h1>

<a href="/actors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%=@actor.name%>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%=@actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%=@actor.dob%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src=<%=@actor.image%> style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%=@actor.created_at%>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%=@actor.updated_at%>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tbody>
    <tr>
      <th>
        Title
      </th>

      <th>
        Year
      </th>

      <th>
        Director
      </th>

      <th>
        Character name
      </th>

      <th>
      </th>
    </tr>

    <tr>
      <td>
        The Shawshank Redemption
      </td>

      <td>
        1994
      </td>

      <td>

        Frank Darabont
      </td>

      <td>
        Ellis Boyd "Red" Redding
      </td>

      <td>
        <a href="/movies/1">
          Show details
        </a>
      </td>
    </tr>

  </tbody>
</table>
